:root {
  font-family: "Be Vietnam Pro", sans-serif;

  background: rgb(224, 247, 247);
  background: linear-gradient(
    80deg,
    rgba(224, 247, 247, 1) 0%,
    rgba(237, 224, 247, 1) 100%
  );
}
